.profile-page-container {
  min-height: 100vh;
  min-width: 10vw;
  background: linear-gradient(135deg, #fff5f2 0%, #fff 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.profile-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
